nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 1rem 1.7rem;
  z-index: 2;
  position: fixed;
 left: calc(50% - 9rem);
bottom: 2rem;
justify-content: center;
align-items: center;
gap: 0.8rem;
border-radius: 3rem;
backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  padding: 1rem 1rem; 
  border-radius: .5rem;
  color: var(--color-white);
}
nav a:hover {
  background-color: var(--color-black);
  padding: .8rem;
  margin: 1rem;
  border-radius: .5rem;
}
nav a.active {
  background-color: var(--color-white);
  color: var(--color-black);
}